language: java
jdk: oraclejdk8
before_install:
- chmod 777 ~/.ssh/
- openssl aes-256-cbc -K $encrypted_096a7f53b235_key -iv $encrypted_096a7f53b235_iv
  -in id_rsa.enc -out ~/.ssh/id_rsa -d
- chmod +x mvnw


addons:
  ssh_known_hosts:
  - 47.74.244.91
after_success:
  - ssh deploy@47.74.244.91 -o StrictHostKeyChecking=no 'cd ~/blog && ./deploy'
