<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页</title>
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <meta charset="utf-8">
</head>
<body>

<div class="article-container container">
    <div class="row">
        <div class="col-md-4">
            <div id="articleList">
                <span>文章列表</span>
                <ul th:each="article:${articleList}">
                    <li>
                        <p th:text="${article.title}"></p>
                        <button type="button" class="btn btn-primary" th:onclick="'modifyActicle('+${article.id}+')'">
                            修改
                        </button>
                        <a class="btn btn-info" th:href="'/articleController/articleShow?id='+${article.id}">查看</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div id="postArticle">
                <form th:action="@{postArticle}" method='POST'>
                    标题:<br>
                    <input id="title" type="text" name="title">
                    <br>
                    内容:<br>
                    <textarea id="context" name="context"></textarea>
                    <input type="submit" value="提交"/>

                </form>
            </div>
        </div>
    </div>
</div>


</body>

<script>

    $(document).ready(function () {
        $('#context').summernote();
    });

    function modifyActicle(id) {
        $.get('getArticle', {
            id: id
        }, function (article) {
            $('#title').val(article.title);
        });

    }
</script>
</html>