<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页</title>

    <link href="//cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/bootstrap/4.1.1/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<!--文章列表-->
<div class="article-container container">
    <div class="article-item" th:each="article : ${articleList}">
        <a th:href="${article.url}" th:text="${article.title}"></a>
        <p class="lead" th:text="${article.context}"></p>
    </div>
</div>
</body>
</html>