<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>主页</title>
    <link th:href="@{/bootstrap/4.1.1/css/bootstrap.css}" rel="stylesheet">
</head>
<body>

<nav class="navbar" th:fragment="copy">
    <a th:href="@{/manageArticle/}">管理入口</a>


    <a href="https://github.com/jincs1414">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
             src="https://jincs-1251138885.cos.ap-chengdu.myqcloud.com/forkme_right_gray_6d6d6d.png?q-sign-algorithm=sha1&q-ak=AKID56wuNihKQxBSR60rXaKj07vIzRLWG3qO&q-sign-time=1535292985;1535294785&q-key-time=1535292985;1535294785&q-header-list=&q-url-param-list=&q-signature=f38294049b8a923bb8f883c15eb00852fe6b74bb&x-cos-security-token=63aed3ced4ae55344009ae180ce622129780588a10001&response-content-disposition=attachment"
             alt="Fork me on GitHub">
    </a>


</nav>

</body>
</html>