<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>主页</title>
    <link th:href="@{/thirdParty/bootstrap/4.1.1/css/bootstrap.css}" rel="stylesheet">
</head>
<body>

<nav class="navbar" th:fragment="copy">
    <a th:href="@{/manageArticle/}">管理入口</a>


    <a href="https://github.com/jincs1414">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
             th:src="@{/selfParty/forkme_right_gray_6d6d6d.png}"
             alt="Fork me on GitHub">
    </a>


</nav>

</body>
</html>